* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

@mixin testSign() {
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 2rem;
  border: none;
  a {
    font-size: 0.8rem;
  }
  p {
    font-size: 1.1rem;
  }
}

@mixin prof() {
  text-decoration: none;
  color: white;
  background-color: rgb(24, 23, 23);
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1rem;
}

@mixin seeMore() {
  background-color: white;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 700;
}

@mixin context() {
  font-size: 1.2rem;
  color: #888888;
  width: 80%;
}

@mixin header() {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    width: 100%;
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      width: 60%;
    }
  }

  .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .top {
      @include context();
    }

    .bottom {
      button {
        @include seeMore();
      }
    }
  }
}

@mixin part() {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .top {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
  }

  .bottom {
    width: 100%;
    height: 40%;
    display: flex;
    gap: 1.5rem;
    .left {
      h1 {
        font-size: 2.7rem;
        font-weight: 500;
      }
    }
    .right {
      h2 {
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 500;
      }

      p {
        @include context();
        width: 100%;
      }
    }
  }
}

main {
  position: relative;

  section:nth-child(1) {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5.5rem;
    background-color: #2e2e2ee6;
    z-index: 2;

    .left {
      h2 {
        font-style: italic;
        font-weight: 600;
        font-size: 1.9rem;
      }
    }

    .middle {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.84);
        font-size: 1rem;
        i {
          font-size: 1.2rem;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      a {
        @include prof();
      }

      button {
        @include testSign();
      }
    }
  }

  section:nth-child(2) {
    width: 100%;
    padding: 1rem 2rem 1rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
      "left-top right-top"
      "left-bottom right-bottom";
    gap: 2rem;
    left-top {
      grid-area: left-top;
      display: flex;
      align-items: center;
      padding: 1rem 0rem;
      h1 {
        width: 80%;
        font-size: 3.9rem;
        font-weight: 600;
        a {
          text-decoration: none;
          color: #535353;
        }
        i {
          padding: 1rem;
          background-color: white;
          color: black;
          border-radius: 50%;
          font-size: 2rem;
        }
      }
    }

    left-bottom {
      grid-area: left-bottom;

      main {
        position: relative;
        width: 100%;
        height: 100%;
        a {
          text-decoration: none;
          color: #888888;
          padding: 1.2rem 1.4rem;
          background-color: black;
          font-size: 1.3rem;
          border-radius: 1.5rem;
          position: absolute;
          right: 0;
        }

        .body {
          width: 100%;
          height: 100%;
          background-image: url(./H1.jpg);
          background-size: cover;
          background-position: center;
          border-radius: 2rem;
          // clip-path: polygon(
          //   0% 15%,
          //   0 0,
          //   15% 0%,
          //   85% 0%,
          //   85% 15%,
          //   100% 15%,
          //   100% 85%,
          //   100% 100%,
          //   85% 100%,
          //   15% 100%,
          //   0 100%,
          //   0% 85%
          // );
        }
      }
    }

    right-top {
      grid-area: right-top;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem 5rem;
      gap: 1.2rem;
      .top {
        button {
          a {
            @include prof();
            background-image: url(./prof.jpg);
            background-size: cover;
          }
          @include testSign();
          padding: 0.4rem 0.7rem;
          font-size: 0.4rem;
          p {
            text-transform: uppercase;
            font-size: 0.7rem;
          }
        }
      }

      .middle {
        font-size: 1.2rem;
        color: #888888;
        width: 70%;
      }

      .bottom {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.2rem;
      }
    }

    right-bottom {
      grid-area: right-bottom;
      padding: 1rem 1.5rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top {
        width: 80%;
        height: 50%;
        background-image: url(./H2.jpg);
        background-size: cover;
        background-position: top;
        border-radius: 2rem;
      }

      .middle {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 1.8rem;
          font-weight: 600;
        }

        p {
          font-size: 1.2rem;
          color: #888888;
        }

        a {
          text-decoration: none;
          color: #888888;
          display: flex;
          align-items: center;
          gap: 0.7rem;
          p {
            text-decoration: underline;
            width: fit-content;
          }
          i {
            font-size: 1rem;
          }
        }
      }
    }
  }

  section:nth-child(3) {
    width: 100%;
    padding: 3rem 2rem 1rem 6rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "header"
      "main";

    header {
      grid-area: header;
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 100%;
        h1 {
          font-size: 2.5rem;
          font-weight: 600;
          width: 60%;
        }
      }

      .right {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .top {
          font-size: 1.2rem;
          color: #888888;
          width: 80%;
        }

        .bottom {
          button {
            @include seeMore();
          }
        }
      }
    }

    main {
      grid-area: main;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .part {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        h1 {
          font-size: 3rem;
          font-weight: 500;
        }
        p {
          font-size: 1.1rem;
          width: 65%;
        }
      }
    }
  }

  section:nth-child(4) {
    width: 100%;
    padding: 3rem 2rem 1rem 6rem;
    gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main";

    header {
      grid-area: header;
      @include header();
    }

    main {
      grid-area: main;
      padding: 1rem 2rem 1rem 1rem;
      display: flex;
      justify-content: space-between;
      .part:nth-child(1) {
        @include part();
        .top {
          background-image: url(./H3.jpg);
        }
      }

      .part:nth-child(2) {
        @include part();
        .top {
          background-image: url(./H4.jpg);
        }
      }

      .part:nth-child(3) {
        @include part();
        .top {
          background-image: url(./H5.jpg);
        }
      }
    }
  }

  section:nth-child(5) {
    width: 100%;
    padding: 3rem 2rem 1rem 6rem;
    gap: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "header header header"
      "main main aside";

    header {
      grid-area: header;
      display: flex;
      justify-content: center;
      h1 {
        width: 40%;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
      }
    }

    main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .top {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h3 {
          font-size: 1.2rem;
          text-transform: capitalize;
          font-weight: 500;
        }

        h3:nth-child(2) {
          color: #888888;
          font-weight: 400;
        }
      }

      .middle {
        p {
          font-size: 1.8rem;
          width: 90%;
        }
      }

      .bottom {
        display: flex;
        gap: 1rem;
        button {
          font-size: 1.4rem;
          color: white;
          background-color: black;
          border: 1px solid white;
          border-radius: 50%;
          padding: 0.5rem;
        }
      }
    }

    aside {
      grid-area: aside;
      display: flex;
      justify-content: center;
      .img {
        width: 90%;
        height: 100%;
        background-image: url(./me.jpg);
        background-size: cover;
        border-radius: 2rem;
      }
    }
  }

  section:nth-child(6) {
    width: 100%;
    padding: 3rem 2rem 1rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main";

    header {
      grid-area: header;
      @include header();
      .right {
        width: 50%;
      }
    }

    main {
      grid-area: main;
      padding: 1rem 2rem 1rem 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1.2rem;

      .part:nth-child(1) {
        @include part();
        .top {
          background-image: url(./H6.jpg);
        }

        .bottom {
          flex-direction: column;

          .details {
            display: flex;
            justify-content: flex-start;
            gap: 1.9rem;

            a {
              text-decoration: none;
              color: #888888;
            }
          }

          h1 {
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }

      .part:nth-child(2) {
        @include part();
        .top {
          background-image: url(./H7.jpg);
        }

        .bottom {
          flex-direction: column;

          .details {
            display: flex;
            justify-content: flex-start;
            gap: 1.9rem;

            a {
              text-decoration: none;
              color: #888888;
            }
          }

          h1 {
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }

      .part:nth-child(3) {
        @include part();
        .top {
          background-image: url(./H8.jpg);
        }

        .bottom {
          flex-direction: column;

          .details {
            display: flex;
            justify-content: flex-start;
            gap: 1.9rem;

            a {
              text-decoration: none;
              color: #888888;
            }
          }

          h1 {
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  section:nth-child(7) {
    width: 100%;
    padding: 3rem 2rem 1rem 6rem;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "aside main"
      "aside main";

    aside {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
      }

      h3 {
        @include context();
        font-weight: 400;
      }
    }

    main {
      .content {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        h2 {
          font-size: 1.5rem;
          font-weight: 400;
        }

        button {
          padding: 0.6rem 0.8rem;
          font-size: 1.2rem;
          border-radius: 50%;
          background-color: #000;
          color: white;
          border: 1px solid white;
        }
      }
    }
  }

  section:nth-child(8) {
    width: 100%;
    // height: 70%;
    padding: 3rem 2rem 1rem 6rem;
    background-color: #fff;

    main {
      width: 100%;
      display: grid;
      grid-template-columns: 0.6fr 1.4fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "aside right-side"
        "footer footer";

      aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1.2rem;

        h1 {
          color: #000;
          width: 80%;
          font-size: 1.5rem;
          font-weight: 700;
        }

        h4 {
          @include context();
          font-weight: 500;
        }

        button {
          @include seeMore();
          background-color: black;
          color: white;
        }
      }

      right-side {
        grid-area: right-side;
        width: 100%;
        display: flex;
        justify-content: space-around;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          li:nth-child(1) {
            color: black;
            font-weight: 700;
            font-size: 1.5rem;
          }

          li {
            color: black;
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
      }

      footer {
        grid-area: footer;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
